.hr1{
    border:1px solid rgb(0, 0, 0) ;
}
 .button{
     border: 2px  solid rgba(52, 172, 219, 0.671);
     transition: all .3s;
 }
 .button:hover{
     background-color:rgba(52, 172, 219, 0.371);
     border: 2px  solid rgba(52, 172, 219, 0.171);
     
    };
    .img{
         
     margin-left: 200px;
    }
 